<div class="page">
  <div class="page__header">
    Page
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordian</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card box-shadow">
      <ul>
        <% @videos["items"].each do |v| %>
         <div class="accordion-item">
           <div class="accordian-content"> <h2><%= v["snippet"]["title"] %></h2> </div>
          </div>
        <% end %>
        </ul>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        page2
      </div>
    </div>
  </div>
  

</div>
