.page {

  &__header {
    background: $white;
    height: 2rem;
    padding: $base-spacing;
  }

  &__footer {
    height: 4rem;
    background: #252D4D;
  }

  &__search{
    height: 6rem;
    background: $white;
    padding: $base-spacing;
  }
}

.card-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #252D4D;
  background: #FFFFFF;
}

.channel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #252D4D;
}
