.page {

  &__header {
    background: $white;
    height: 100px;
    padding: $base-spacing;
  }
}

.card-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #252D4D;
  background: #FFFFFF;
}

.channel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #252D4D;
}
