.page {

  &__header {
    background: $white;
    height: 100px;
    padding: $base-spacing;
  }
}

.card-header {
//   position: absolute;
// left: 16.67%;
// right: 16.67%;
// top: 40.08%;
// bottom: 53.24%;

background: #FFFFFF;
}
